// SASS UTILITIES

$main-color: white;
$main-font: 'Roboto', sans-serif;
$main-section-width: calc(100% - 95px);

$mobile-breakpoint: 480px;

@mixin centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

// GENERAL STYLING

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $main-font;
    line-height: 1.6;
}

@font-face {
    font-family: voyage;
    src: url('assets/voyage.otf');
  }

// NAV BARS

#nav-container {
    display: flex;

    // TOP NAV (SEARCH)
    #top-nav {
        box-sizing: border-box;
        display: flex;
        height: 75px;
        width: 100%;
        position: fixed;
        z-index: 2;
        
        #left-corner-top {
            @include centrar;
            background-color: black;
            width: 95px;
            height: 75px;
            cursor: pointer;

            #logo-container {
                width: 45px;
                height: 45px;
                margin-left: -7px;
                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
        
        #nav-top {
            @include centrar();
            width: $main-section-width;
            background-color: $main-color;
            height: 100%;
        
            #search-nav {
                display: flex;
                align-items: center;
                width: 100%;
    
                form {
                    @include centrar();
                    justify-content: space-between;
                    margin-left: 65px;

                    svg {
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        fill: rgba(8,28,36,.5);
                    }

                    input {
                        width: 100%;
                        padding: 15px 20px 15px 15px;
                        outline: none;
                        border: 0;
                        background-color: transparent;
                        color: #081c24;
                        font-weight: 300;
                        font-size: 16px;
                        font-family: $main-font;
                    }
                }
            }

            #hamb-menu {
                display: none;
                width: 55px;
                height: 50px;
                padding-right: 5px;
                cursor: pointer;
                border-left: 1px solid #f8f8f8;

                i {
                    font-size: 1.9em;
                    color: rgba(8,28,36,.5);
                }
            }
        }
    }


    // LEFT NAV

    #left-nav {
        background-color: $main-color;
        width: 95px;
        height: 100%;
        position: fixed;

        #nav-list {
            list-style: none;
            padding-left: 0px;

            .nav-item {
                width: 95px;
                height: 95px;
                margin-left: 0px;
                padding-left: 0px;
                border-bottom: 1px solid #f8f8f8;
                @include centrar();
                flex-direction: column;
                font-size: 9px;
                font-weight: 300;
                letter-spacing: .5px;
                color: rgba(8,28,36,.7);
                cursor: pointer;

                &:first-child {
                    margin-top: 75px;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    fill: rgba(8,28,36,.7);
                    margin-bottom: 9px;
                }
            }
        }
    }
}
    
// MAIN SECTION

#main-section {
    width: $main-section-width;
    margin-top: 75px;
    margin-left: 95px;
    background-color: lightpink;

    // HEADER
    #header-cont {
        background-color: #7e7e7e;
        height: 380px;
        position: relative;
        width: 100%;
        
        #header-image {
        height: 100%;
        width: 100%;
        background-image: url(assets/moon.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity:0.4;
        }

        #header-title {
            font-family: voyage;
            font-weight: 500;
            font-size: 33px;
            text-transform: uppercase;
            letter-spacing: 14px;
            margin: 0;
            color: black;
            position: absolute;
            bottom: -30px;
            right: 16px;
        }
    }

    // CATEGORIES WRAPPERS

    .wrapper {

        background-color: #f8f8f8;
        width: 100%;

        .movies {
            width: 100%;
            padding: 30px;

            .movies-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 30px;

                h1 {
                    font-size: 18px;
                    line-height: 18px;
                    color: #081c24;
                    font-weight: 300;
                }

                span {
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: .5px;
                    color: rgba(8,28,36,.5);
                    cursor: pointer;
                }
            }

            .movies-list {
                width: 100%;
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                flex-wrap: wrap;

                .movies-item {
                    padding: 30px;
                    width: 20%;
                    
                    .movie-img-cont {
                        height: 320px;
                        width: 100%;
                        img {
                            width: 100%;
                            height: auto;
                            border-style: none;
                        }
                    }

                    p {
                        font-size: 14px;
                        letter-spacing: .5px;
                        color: rgba(8,28,36,.5);
                        font-weight: 300;
                        padding-top: 15px;
                    }

                }
            }
        }
    }
}

//MOBILE VERSION

@media (max-width: $mobile-breakpoint) {

    #nav-container {
        position: relative;
        
        #top-nav {
            height: 50px;

            #nav-top {
                width: calc(100% - 55px);

                #search-nav {
                    width: 100%;

                    form {
                        margin-left: 20px;
                        
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }

                #hamb-menu {
                    @include centrar();
                }
            }

            #left-corner-top {
                height: 50px;
                width: 55px;

                #logo-container {
                    width: 30px;
                    height: 30px;
                    margin-left: 0px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        
        #left-nav {
            
            display: none;
            background-color: $main-color;
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 50px;
            
            #nav-list {
                background-color: $main-color;
                display: flex;
                flex-wrap: wrap;
                margin: 0px;

                .nav-item {
                    width: 50%;

                &:first-child {
                    margin-top: 0px;
                }
            }
        }
    }
}

    #main-section {
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;

        #header-cont {
            height: 200px;

            #header-title {
                font-size: 16px;
                bottom: 10px;
                right: 10px;
                text-align: end;
                letter-spacing: 7px;
            }
        }
    }
}

