* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6; }

@font-face {
  font-family: voyage;
  src: url("assets/voyage.otf"); }

#nav-container {
  display: flex; }
  #nav-container #top-nav {
    box-sizing: border-box;
    display: flex;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 2; }
    #nav-container #top-nav #left-corner-top {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      width: 95px;
      height: 75px;
      cursor: pointer; }
      #nav-container #top-nav #left-corner-top #logo-container {
        width: 45px;
        height: 45px;
        margin-left: -7px; }
        #nav-container #top-nav #left-corner-top #logo-container img {
          width: 45px;
          height: 45px; }
    #nav-container #top-nav #nav-top {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 95px);
      background-color: white;
      height: 100%; }
      #nav-container #top-nav #nav-top #search-nav {
        display: flex;
        align-items: center;
        width: 100%; }
        #nav-container #top-nav #nav-top #search-nav form {
          display: flex;
          justify-content: center;
          align-items: center;
          justify-content: space-between;
          margin-left: 65px; }
          #nav-container #top-nav #nav-top #search-nav form svg {
            display: inline-block;
            height: 20px;
            width: 20px;
            fill: rgba(8, 28, 36, 0.5); }
          #nav-container #top-nav #nav-top #search-nav form input {
            width: 100%;
            padding: 15px 20px 15px 15px;
            outline: none;
            border: 0;
            background-color: transparent;
            color: #081c24;
            font-weight: 300;
            font-size: 16px;
            font-family: "Roboto", sans-serif; }
      #nav-container #top-nav #nav-top #hamb-menu {
        display: none;
        width: 55px;
        height: 50px;
        padding-right: 5px;
        cursor: pointer;
        border-left: 1px solid #f8f8f8; }
        #nav-container #top-nav #nav-top #hamb-menu i {
          font-size: 1.9em;
          color: rgba(8, 28, 36, 0.5); }
  #nav-container #left-nav {
    background-color: white;
    width: 95px;
    height: 100%;
    position: fixed; }
    #nav-container #left-nav #nav-list {
      list-style: none;
      padding-left: 0px; }
      #nav-container #left-nav #nav-list .nav-item {
        width: 95px;
        height: 95px;
        margin-left: 0px;
        padding-left: 0px;
        border-bottom: 1px solid #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 9px;
        font-weight: 300;
        letter-spacing: .5px;
        color: rgba(8, 28, 36, 0.7);
        cursor: pointer; }
        #nav-container #left-nav #nav-list .nav-item:first-child {
          margin-top: 75px; }
        #nav-container #left-nav #nav-list .nav-item svg {
          width: 20px;
          height: 20px;
          fill: rgba(8, 28, 36, 0.7);
          margin-bottom: 9px; }

#main-section {
  width: calc(100% - 95px);
  margin-top: 75px;
  margin-left: 95px;
  background-color: lightpink; }
  #main-section #header-cont {
    background-color: #7e7e7e;
    height: 380px;
    position: relative;
    width: 100%; }
    #main-section #header-cont #header-image {
      height: 100%;
      width: 100%;
      background-image: url(assets/moon.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      opacity: 0.4; }
    #main-section #header-cont #header-title {
      font-family: voyage;
      font-weight: 500;
      font-size: 33px;
      text-transform: uppercase;
      letter-spacing: 14px;
      margin: 0;
      color: black;
      position: absolute;
      bottom: -30px;
      right: 16px; }
  #main-section .wrapper {
    background-color: #f8f8f8;
    width: 100%; }
    #main-section .wrapper .movies {
      width: 100%;
      padding: 30px; }
      #main-section .wrapper .movies .movies-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px; }
        #main-section .wrapper .movies .movies-header h1 {
          font-size: 18px;
          line-height: 18px;
          color: #081c24;
          font-weight: 300; }
        #main-section .wrapper .movies .movies-header span {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: .5px;
          color: rgba(8, 28, 36, 0.5);
          cursor: pointer; }
      #main-section .wrapper .movies .movies-list {
        width: 100%;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        flex-wrap: wrap; }
        #main-section .wrapper .movies .movies-list .movies-item {
          padding: 30px;
          width: 20%; }
          #main-section .wrapper .movies .movies-list .movies-item .movie-img-cont {
            height: 320px;
            width: 100%; }
            #main-section .wrapper .movies .movies-list .movies-item .movie-img-cont img {
              width: 100%;
              height: auto;
              border-style: none; }
          #main-section .wrapper .movies .movies-list .movies-item p {
            font-size: 14px;
            letter-spacing: .5px;
            color: rgba(8, 28, 36, 0.5);
            font-weight: 300;
            padding-top: 15px; }

@media (max-width: 480px) {
  #nav-container {
    position: relative; }
    #nav-container #top-nav {
      height: 50px; }
      #nav-container #top-nav #nav-top {
        width: calc(100% - 55px); }
        #nav-container #top-nav #nav-top #search-nav {
          width: 100%; }
          #nav-container #top-nav #nav-top #search-nav form {
            margin-left: 20px; }
            #nav-container #top-nav #nav-top #search-nav form svg {
              width: 14px;
              height: 14px; }
        #nav-container #top-nav #nav-top #hamb-menu {
          display: flex;
          justify-content: center;
          align-items: center; }
      #nav-container #top-nav #left-corner-top {
        height: 50px;
        width: 55px; }
        #nav-container #top-nav #left-corner-top #logo-container {
          width: 30px;
          height: 30px;
          margin-left: 0px; }
          #nav-container #top-nav #left-corner-top #logo-container img {
            width: 100%;
            height: 100%; }
    #nav-container #left-nav {
      display: none;
      background-color: white;
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 50px; }
      #nav-container #left-nav #nav-list {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        margin: 0px; }
        #nav-container #left-nav #nav-list .nav-item {
          width: 50%; }
          #nav-container #left-nav #nav-list .nav-item:first-child {
            margin-top: 0px; }
  #main-section {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px; }
    #main-section #header-cont {
      height: 200px; }
      #main-section #header-cont #header-title {
        font-size: 16px;
        bottom: 10px;
        right: 10px;
        text-align: end;
        letter-spacing: 7px; } }
